@import "variables";

.border-box {
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}

.color-white {
  color: $white;
}

.color-dark-gray {
  color: $dark-gray;
}

.text-center {
  text-align: center;
}

.text-11 {
  font-size: 11px;
}

.size-24 {
  width: 24px;
  height: 24px;
}

.w-full {
  width: 100%;
}

.max-w-570 {
  max-width: 570px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-auto {
  margin-left: auto;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and ($mobile) {
  .mobile-direction {
    flex-direction: column;
  }

  .mobile-w-full {
    width: 100%;
  }

  .mobile-mb-0 {
    margin-bottom: 0;
  }

  .mobile-mt-48 {
    margin-top: 48px;
  }
}
